* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/Netflix\ BG.jpg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    margin: 0;
}
.logo {
    width: 150px;
    height: 80px;
}
.btn-SignIn {
    color: white;
    padding: 10px 20px;
    background-color: rgb(229, 9, 20);
    font-size: 0.875rem; 
    border-radius: 5px;
    border-style: none;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}
.title h1, .subtitle, .normal-title {
    color:  rgb(255, 255, 255);
    text-align: center;
}
.main-headings h1{
    font-size: 3.875rem;
}
.subtitle {
    font-size: 1.5rem;
    margin-top: -40px;
    font-weight: 600;
}
.normal-title {
    font-size: 1.125rem;
}
.main-headings {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 60px;
    width: 800px;
    border: 0;
}
.email-add {
    font-size: 0.875rem;
    padding: 20px 70px 20px 10px;
    width: 75%;
    height: 100%;
}
.btnGet-started {
    color: white;
    padding: 10px 20px;
    background-color: rgb(229, 9, 20);
    font-size: 1rem; 
    border-style: none;
    padding: 20px 30px;
    width: 25%;
    border: 0;
}
.user-input {
    display: flex;
}

/*Sections*/

.section-one {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 80px;
    margin-top: 163px;
    background-color: rgb(0,0,0);
    border-top: 10px solid rgb(34,34,34);
}
.section-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 250px 60px 30px;
    background-color: rgb(0,0,0);
    border-top: 10px solid rgb(34,34,34);
}
.section-three {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 800px 40px 30px;
    background-color: rgb(0,0,0);
    border-top: 10px solid rgb(34,34,34);
}
.section-four {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 250px 60px 150px;
    background-color: rgb(0,0,0);
    border-top: 10px solid rgb(34,34,34);
}
.section-five {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 150px; 
    background-color: rgb(0,0,0);
    border-top: 10px solid rgb(34,34,34);
}
.section-one p, .section-two p, .section-three p, .section-four p {
    color: white;
    width: 500px;
    text-align: left;
    font-size: 1.5rem;
}
.section-one h1, .section-two h1, .section-three h1, .section-four h1 {
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}
.sec1-text, .sec2-text, .sec3-text {
    width: 400px;
}
.sec4-text {
    margin-left: 60px;
}
.sec5-user-input {
    width: 800px;
}
.image-sec-one, .image-sec-two {
    width: 500px;
    height: 350px;
}

/*foooter*/

.footer-container a:hover {
    text-decoration: underline;
}
.link-title {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(115,115,115);
    font-size: 0.875rem;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 250px;
    background-color: rgb(0,0,0);
    border-top: 10px solid rgb(34,34,34);
}
.link-item {  
    text-decoration: none;
    font-size: 0.75rem;
    color: rgb(115,115,115);
}
.footer-container div {
    margin-bottom: 15px;
}
.footer-first, .footer-second, .footer-third, .footer-fourth {
    display: flex;
    flex-direction: column;
}
.by-me {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(115,115,115);
    background-color: rgb(0,0,0);
    border-top: 1px solid rgb(34,34,34);
    font-weight: 200;
}

